* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;


}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;

}



.card{
  margin: 10px;
}

.text-center{
  font-weight: bold;

}